!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!
! 						 !
! __   __                                        !
! \ \ / /                                        !
!  \ V / _ __ ___  ___  _   _ _ __ ___ ___  ___  !
!   > < | '__/ _ \/ _ \| | | | '__/ __/ _ \/ __| !
!  / . \| | |  __/ (_) | |_| | | | (_|  __/\__ \ !
! /_/ \_\_|  \___|\___/ \__,_|_|  \___\___||___/ !
!                                                !
!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!                                               


! -----------------------------+
! general settings
! -----------------------------+


URxvt*saveline:			20000
URxvt*termName:			rxvt-256color
URxvt*iso14755:			false
URxvt*urgentOnBell:		true


! -----------------------------+
! perl extensions
! -----------------------------+


URxvt.perl-ext-common: default,keyboard-select,url-select,resize-font
URxvt.keysym.C-u: perl:keyboard-select:activate
URxvt.keysym.C-s: perl:keyboard-select:search
URxvt.keyboard-select.clipboard: true
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/firefox
URxvt.url-select.underline: true


! -----------------------------+
! appearance		
! -----------------------------+


URxvt*scrollBar:		false
URxvt*scrollBar_right:	false
URxvt*internalBorder:	36
URxvt*externalBorder:	0


! -----------------------------+
! font configs
! -----------------------------+


URxvt*font:		xft:Tamsyn:regular:size=8
URxvt*boldFont:		xft:Tamsyn:bold:size=8
URxvt*italicFont:	xft:Tamsyn:italic:size=8
URxvt*boldItalicFont: 	xft:Tamsyn:bold italic:size=8
URxvt*letterSpace:	0
URxvt.lineSpace:	0


! -----------------------------+
! import rofi theme
! -----------------------------+


#include "/home/eng/.config/rofi/theme1"


! -----------------------------+
! colors from wal
! -----------------------------+


! X colors.
! Generated by 'wal'
*foreground:        #0E0606
*background:        #fefefe
*.foreground:       #0E0606
*.background:       #fefefe
emacs*foreground:   #0E0606
emacs*background:   #fefefe
URxvt*foreground:   #0E0606
XTerm*foreground:   #0E0606
UXTerm*foreground:  #0E0606
URxvt*background:   [100]#fefefe
XTerm*background:   #fefefe
UXTerm*background:  #fefefe
URxvt*cursorColor:  #0E0606
XTerm*cursorColor:  #0E0606
UXTerm*cursorColor: #0E0606
URxvt*borderColor:  [100]#fefefe

! Colors 0-15.
*.color0: #fefefe
*color0:  #fefefe
*.color1: #A695A1
*color1:  #A695A1
*.color2: #D3A8B5
*color2:  #D3A8B5
*.color3: #B7BFC9
*color3:  #B7BFC9
*.color4: #DEB9C4
*color4:  #DEB9C4
*.color5: #D5CED3
*color5:  #D5CED3
*.color6: #F9D9DB
*color6:  #F9D9DB
*.color7: #0E0606
*color7:  #0E0606
*.color8: #989797
*color8:  #989797
*.color9: #A695A1
*color9:  #A695A1
*.color10: #D3A8B5
*color10:  #D3A8B5
*.color11: #B7BFC9
*color11:  #B7BFC9
*.color12: #DEB9C4
*color12:  #DEB9C4
*.color13: #D5CED3
*color13:  #D5CED3
*.color14: #F9D9DB
*color14:  #F9D9DB
*.color15: #0E0606
*color15:  #0E0606

! Black color that will not be affected by bold highlighting.
*.color66: #fefefe
*color66:  #fefefe

! Xclock colors.
XClock*foreground: #0E0606
XClock*background: #fefefe
XClock*majorColor:  rgba:0e/06/06/ff
XClock*minorColor:  rgba:0e/06/06/ff
XClock*hourColor:   rgba:0e/06/06/ff
XClock*minuteColor: rgba:0e/06/06/ff
XClock*secondColor: rgba:0e/06/06/ff

! Set depth to make transparency work.
URxvt*depth: 32

